# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.VC.opendb
*.VC.db

**git_repos/LinkedList/bin/Debug/
**git_repos/LinkedList/LinkedList/Debug
**git_repos/LinkedList/LinkedList.Tests/Debug

**git_repos\LinkedList\Debug
**git_repos\LinkedList\LinkedList\Debug
**git_repos\LinkedList\LinkedList.Tests\Debug
/LinkedList/LinkedList.Tests/Debug/vc140.pdb
/LinkedList/LinkedList.Tests/Debug/vc140.idb
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.tlog/LinkedList.Tests.write.1u.tlog
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.tlog/LinkedList.Tests.lastbuildstate
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.tlog/link.write.1.tlog
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.tlog/link.read.1.tlog
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.tlog/link.command.1.tlog
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.tlog/CL.write.1.tlog
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.tlog/CL.read.1.tlog
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.tlog/CL.command.1.tlog
/LinkedList/LinkedList.Tests/Debug/LinkedList.Tests.log
/LinkedList/LinkedList/Debug/vc140.pdb
/LinkedList/LinkedList/Debug/vc140.idb
/LinkedList/LinkedList/Debug/LinkedList.tlog/LinkedList.lastbuildstate
/LinkedList/LinkedList/Debug/LinkedList.tlog/link.write.1.tlog
/LinkedList/LinkedList/Debug/LinkedList.tlog/link.read.1.tlog
/LinkedList/LinkedList/Debug/LinkedList.tlog/link.command.1.tlog
/LinkedList/LinkedList/Debug/LinkedList.tlog/CL.write.1.tlog
/LinkedList/LinkedList/Debug/LinkedList.tlog/CL.read.1.tlog
/LinkedList/LinkedList/Debug/LinkedList.tlog/CL.command.1.tlog
/LinkedList/LinkedList/Debug/LinkedList.log
/LinkedList/Debug/LinkedList.Tests.pdb
/LinkedList/Debug/LinkedList.Tests.ilk
/LinkedList/Debug/LinkedList.Tests.exp
/LinkedList/Debug/LinkedList.pdb
/LinkedList/Debug/LinkedList.ilk
